.requestMember{

}

.requestsTag{
    width: 80%;
    height: fit-content;
    min-height: 100px;
    max-height: 550px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.requestTag{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.requestTag .buttons{
    display: flex;
    justify-content: end;
}

.request{
    margin: auto;
}
.requests{
    margin: auto;
    overflow-y: scroll;
}


p.empty{
    text-align: center;
    margin-top: 40px;
}
