.main_tag{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 50px;
}
.record_tag{
    width: 95%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.button{
    position: absolute;
    right:20px;
    width: fit-content;
    background-color: yellow;
}
.button:hover{
    background-color: rgb(224, 224, 27);
}
