.AcceptedRecord_tag{
    height: fit-content;
    min-height: 300px;
    width: 100%;
    padding: 20px 0px 80px 0px;
    background-color: #E3F2C1;
    border: 2px solid black;
    border-radius: 10px;
    top: 0px;
    position: absolute;
}

.inforPatient{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 50px;
}

.recordList{
    height: fit-content;
    max-height: 400px;
    overflow-y: scroll;
    padding-bottom: 50px;
    background-color: #E3F2C1;
    padding: 10px 20px;
}

.AcceptedRecord_tag .back{
    position: absolute;
    bottom: 20px;
    left: 70px;
    background-color: #EAE509;
}