.AcceptedRecord_tag{
    height: fit-content;
    min-height: 300px;
    width: 100%;
    padding: 20px 0px 100px 0px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 10px;
    top: 0px;
    position: absolute;
}

.inforPatient{
    padding-top: 20px;
    padding-left: 50px;
}

.recordList{
    height: fit-content;
    max-height: 300px;
    overflow-y: scroll;
    padding-bottom: 50px;
    background-color: rgb(161, 161, 71);
    padding: 10px 20px;
}

.button{
    width: fit-content;
    cursor: pointer;
    background-color: green;
    position: absolute;
    bottom: 30px;
    left: 30px;
}