.dashboard_buttons{
    display: flex;
}

.button.Download{
    background-color: #0074E4;
}
.download:hover{
    background-color: #537188;
}
.button.Downloading{
    background-color: #537188;
}


.status{
    font-weight: 600;
}

.status.Waitting{
    color: orange;
}
.status.Accepted{
    color: green;
}
.status.Rejected{
    color: red;
}