.login_tag form{
    margin-top: 50px;
}

.inputField{
    margin-left: 17%;
    margin-top: 20px;

}

input{
    width: 250px;
    height: 40px;
    border-radius: 10px;
}

input[type=text] {
    padding: 0px 20px;
  }

input.submit{
    background-color: #221056;
    color: white;
    height: 40px;
    margin-left: 17%;
    margin-top: 50px;
}
label{
    color: white;
}