.login_layout{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
}

.login_img img{
    width: 120%;
    margin-top: 100px;
}

.login_tag{
    margin: auto;
    width: 400px;
    height: fit-content;
    border-radius: 20px;
    background-color: none;
    border: 3px solid black;
}
.login_tag_text{
    padding: 20px 0px;
    padding-top: 30px;
}

.login_tag_text p{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: black;
    margin-top: 50px;
}

.login_tag form{
    margin-top: 50px;
}

.login_tag_text .inputField{
    margin-left: 17%;
}

.login_tag_text .inputField input{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px;
}

input[type=text] {
    padding: 0px 20px;
    border: none;
}

input[type=password] {
    padding: 0px 20px;
    border: none;
}

input[type=submit] {
    border: none;
}

.login_tag_text input.submit{
    background-color: black;
    color: white;
    width: 60%;
    height: 40px;
    margin-left: 20%;
    margin-top: 20px;
}

label{
    color: white;
}
.message{
    width: 80%;
    margin:auto;
    margin-top: 30px;
}

p.login{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 350;
}

span{
    color: rgb(3, 3, 183);
}

span:hover{
    color: rgb(29, 29, 251);
}

@media all and (max-width: 1024px) {
    .login_layout{
        display: grid;
        grid-template-columns: 0fr 1fr;
    }
    
    .login_img img{
        display: none;
    }
}

