.main_layout{
    position: relative;
    height: 600px;
    margin: 0px;
}

.main_title{
    position: absolute;
    width: 50%;
    font-size: 60px;
    font-weight: 900;
    top: 100px;
    left: 5%;
}

.main_button{
    position: absolute;
    top: 400px;
    left: 50px;
}

.button{
    padding: 10px 35px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: #221056;
    margin-left: 20px;
}

.button.register:hover{
    text-decoration: none;
    color: black;
    background-color: rgb(255, 255, 255);
}

.button.login:hover{
    text-decoration: none;
    color: black;
    background-color: rgb(255, 255, 255);
}

.button.register{
    background-color: #221056;
    color: #ffff;
}

.button.login{
    background-color: #221056;
    color: #ffff;
    margin-right: 200px;

}

.main_img{
    width: 55%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    overflow: hidden;
}

.main_img img{
    width: 100%;
}

@media all and (max-width: 1024px) {

    .main_title{
        font-size: 50px;
        left: 5%;
    }
    .main_button{
        top: 350px;
        left: 30px;
    }
    .button{
        width: 100px;
    }
    .main_img{
        bottom: 50px;
    }    
    .main_img img{
        width: 650px;
    }
    
}

@media all and (max-width: 480px) {


}