.profile_img img{
    width: 250px;
}
.button.editProfile{
    position: absolute;
    width: 150px;
    bottom: 20px;
    right: 50px;
    background-color: tomato;
}

.button.editProfile.false{
    display: none;
}
.profile_tag{
    background-color: yellow;
    width: fit-content;
    max-width: 60%;
    min-width: 800px;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-radius: 20px;
    border-style: solid;
    padding: 50px 30px;
}
.tag_img{
    margin: auto;
}
.tag_info{
    position: relative;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    padding-bottom: 80px;
}