.button.editProfile{
    position: absolute;
    width: 150px;
    bottom: 20px;
    right: 50px;
    background-color: tomato;
}

.button.editProfile.false{
    display: none;
}
.profile_tag{
    background-color: white;
    width:70%;
    min-width: 800px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    border-style: solid;
    padding: 50px 30px;
}

.tag_info{
    position: relative;
    width:100%;
    padding: 50px;
    border-radius: 20px;
    padding-bottom: 80px;
}
