.button{
    width: fit-content;
    min-width: 150px;
    height: fit-content;
    padding: 8px 20px;
    color: white;
    background-color: #263A29;
    border-radius: 20px;
    text-align: center;
}
.button:hover{
    color: white;
    background-color: #41644A;
    text-decoration-line: none;
}
.profile_form_tag .button{
    position: absolute;
    bottom: 30px;
    right: 100px;
}

.profile{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.infoTag{
    position: relative;
    padding: 50px 100px;
    padding-bottom: 80px;
    border: 2px solid black;
    border-radius: 20px;
}

.profile_form_tag{
    border-radius: 50px;
    margin-left: 0px;
}
.profile_form_tag .inputField label{
    margin-left: 0px;
    color: black;
}
form{
    padding: 0px;
}

.titleProfile{
    font-size: 20px;
    font-weight: 700;
}

.new{
    width: fit-content;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: green;
    position: absolute;
    right: 50px;
    top: 270px;
}

.line_input{
    display: flex;
    justify-content: space-between;
}

.UpdateAccountForm .line_input .inputField{
    width: 40%;
    grid-template-columns: 80px 200px;
}

.UpdateAccountForm .inputField{
    width: 50%;
    margin-left : 0px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 80px 400px;
}

.UpdateAccountForm .inputField input{
    padding: 0px 20px;
}

.inputField select{
    border-radius: 10px;
    padding: 0px 20px;
}

.UpdateAccountForm .inputField select{
    margin-left : 0px;
    border-radius: 10px;
    padding: 0px 20px;
}

input.submit.save{
    position: absolute;
    width: 100px;
    bottom: 0px;
    right: 50px;
    background-color: yellow;
}

