.profile_form_tag .inputField label{
    color: black;
}
form{
    padding: 0px;
    margin-bottom: 50px;
}
.inputField{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

input.submit.save{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: blue;
}

