.bar{
    display: flex;
    padding: 10px 50px;
    position: relative;
}

.bar_logo img{
    margin-top: 10px;
    width: 120px;
}
.bar_menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 80px;
}

.bar_menu li {
    padding: 20px;
    margin: auto;
}

p,a{
    font-size: 18px;
}
.bar_menu li a{
    color: #191825;
    font-weight: 400;
    text-decoration: none;
}
